$bg-color: #202020
$piano-bg-color: rgba(255, 255, 255, 1)

$keys-bg: #1a1a1a

$keyLetters-family: 'Inter-Bold', sans-serif

$piano-head-family: 'Inter-Bold', sans-serif
$piano-head-color: #6d6d6d

$piano-p-color: #818181
$piano-p-family: 'Inter-Medium', sans-serif

$white-width: calc( 100% / 9 )

@mixin piano-text ($color, $font-weigh, $font-size, $font-family)
    color: $color
    font: $font-weigh $font-size $font-family

@mixin key-b
    border-radius: 0px 0px 12px 12px
    background: rgb(19,19,19) 
    background: linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(21,21,21,1) 21%, rgba(23,23,23,1) 44%, rgba(29,29,29,1) 62%, rgba(32,32,32,1) 79%, rgba(34,34,34,1) 100%) 
    height: 50%
    width: 6%
    position: relative
    left: calc( $white-width - 3.3%  )

@mixin key-w
    background: rgb(220,220,220) 
    background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(240,240,240,1) 100%) 
    height: 100%
    width: $white-width
    border-radius: 0px 0px 12px 12px

$wSpan: 3
$bSpan: 2