@use "_variables.sass" as v

body
    background-color: v.$bg-color
    display: flex
    justify-content: center
    align-items: center
    height: 100vh

.piano-head
    @include v.piano-text (v.$piano-head-color, 700, 50px, v.$piano-head-family)

.piano-p
    @include v.piano-text (v.$piano-p-color, 500, 20px , v.$piano-p-family)
    
main
    background-color: v.$piano-bg-color
    height: 75vh
    width: 80%
    padding: 50px
    border-radius: 33px
    display: flex
    flex-direction: column
    justify-content: space-around

.piano-info
    display: flex
    width: 100%
    justify-content: space-between

#volume-switch
    height: 100%
    width: 85px
    border-radius: 100%
    background: rgb(238,238,238)
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(252,252,252,1) 50%, rgba(219,219,219,1) 100%)
    border-width: 0 0 2px 0
    border-style: solid
    border-color: rgb(209, 209, 209)
    position: relative
    -webkit-box-shadow: 0px 18px 17px 3px rgba(129,129,129,0.48)  
    box-shadow: 0px 12px 17px 3px rgba(129,129,129,0.48) 
    
    
#volume-start
    height: 20px
    width: 4px
    background: rgb(129, 129, 129)
    position: absolute
    top: 5px
    left: 50%
    transform: translate(-50%, 0%)
    border-radius: 10px

.keys
    background: v.$keys-bg 
    border-radius: 9.78px 
    padding: 2.45px 
    width: 100%
    height: 65%
    display: flex

    